/* Main Container */
.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Drop Zone */
.drop-zone {
    width: 100%;
    height: 200px;
    border: 2px dashed #FF5A5F;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

/* Drop Zone Text */
.drop-zone-text {
    color: #FF5A5F;
    font-size: 16px;
}

/* Highlighted Drop Zone */
.drop-zone.dragged-over {
    background-color: rgba(255, 90, 95, 0.2);
}

/* Drop Zone Icons */
.drop-zone-icons {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* margin-bottom: 10px; */
}

.upload-icon {
    height: 48px;
    /* Increased icon size */
    width: 48px;
    /* Increased icon size */
    /* margin-bottom: 10px; */
}

/* Drop Zone Text */
.drop-zone-text {
    text-align: center;
    font-size: 16px;
    margin-top: 10px;
    /* Added to separate text from icons */
}

.img_input_field {
    display: none;
}